# Path where the DICOM images are located:
phantom.dicom_path = 'C:/Users/200003237/Documents/GitHub/phantoms-voxelized/DICOM_to_voxelized/example_head_DICOMs_Toshiba/manifest-1647295835331/CPTAC-LSCC/C3N-04457/12-08-2010-NA-NA-69695/8.000000-Head 3.0  CE-15314'          
# Path where the phantom files are to be written (the last folder name will be the phantom files' base name):
phantom.phantom_path = 'C:/Users/200003237/Documents/GitHub/phantoms-voxelized/example_head'
phantom.materials = ['ICRU_brain_adult', 'ICRU_skeleton_cortical_bone_adult']
phantom.mu_energy = 63.948                  # Energy (keV) at which mu is to be calculated for all materials.
phantom.thresholds = [-200, 200]	    	# Lower threshold (HU) for each material.
# phantom.slice_range = [[0,10]]			  # DICOM image numbers to include.
phantom.show_phantom = False                # Flag to turn on/off image display.
phantom.overwrite = False                   # Flag to overwrite existing files without warning.